<p id="notice"><%= notice %></p>

<h1>News</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Published</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>

        <td><%= article.Title %></td>
        <td><%= article.Publication_datetime %></td>
        
        <td><%= "<a href='read/#{article.id}'>Read</a>".html_safe %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
